
<!--aria-hidden=""-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header" style="padding: 20px 15px 5px">
                <h3 class="modal-title" id="myModalLabel" style="margin-left: 10px; color:#FC7205; font-weight: bold">지금 시비거는 거에요?</h3>
            </div>
            <div class="modal-body" style="padding-bottom: 10px">
                <p style="margin-bottom: 5px; margin-left: 10px">아니 아무것도 안 쓰고 글쓰기 누르는 사람이 어딨어 변태야?</p>
                <p style="margin-bottom: 5px; margin-left: 10px">글 쓰고 누르든지 아니면 다른 페이지로 가던지 해 빨랑</p>
            </div>
            <div class="modal-footer" style="padding: 5px 15">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 1px solid #FC7205; color: #FC7205">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$('#myModal').modal()
</script>
